/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@media all and (max-width: 1366px){

	.site-title{
		padding-top:150px;
	}
	
	#site-container{
		min-height: 700px !important;
	}

}

@media all and (min-width: 1367px) and (max-width: 1920px){

	.site-title{
		padding-top:240px;
	}
	
	#footer{
		position:absolute !important;
	}

}

 
 body,html {
width:100%;
height:100%;
margin:0;
padding:0;
}

#container{
	height: auto !important;
	height: 100%;
	min-height: 100%;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #F6FFA3 0%, #99EF43 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #F6FFA3 0%, #99EF43 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #F6FFA3 0%, #99EF43 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #F6FFA3), color-stop(1, #99EF43));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #F6FFA3 0%, #99EF43 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #F6FFA3 0%, #99EF43 100%);

}

#site-container{
	position:relative;
	width:800px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.site-title{
	width: 530px;
	height: 120px;
	margin: 0 auto;

}

#puny{
	color: #66C7FF;
	font-size: 90px;
	text-align:center;
	text-shadow: 5px 0px 5px rgb(187, 216, 168);
}

.title-msg{
	text-align: center;
	margin-top: 50px;
	color: rgb(236, 106, 179);
	text-shadow: 0px 2px 2px rgb(192, 184, 184);
}
.main-content{
	margin: 0 auto;
	padding: 10px;
}

#url-box{
	display:block;
	width:554px;
	margin: 0 auto;
}

.main-btn{
	width:120px;
	height:30px;
	margin: 0 auto;
}

.beta{
	position: relative;
	top: -20px;
	font-size: 10px;
	font-weight:bold;
	color: rgb(204,58,58);
}

.puny-details{
	margin-top: 60px;
	text-align: center;
	line-height: 12px;
	font-size: 14px;
	color: #444;
}

.puny-details span{
	
	font-size: 20px;
}

.main-input{
	box-shadow: 0px 2px 5px !important;
	padding-left:15px !important; 
	padding-right:15px !important; 
	border-radius: 10px 0 0 10px !important; 
	height:30px !important;
}

.main-button{
	box-shadow: 0px 2px 2px #888 !important;
	border-radius:8px;
}

#shorten-status{
	
	display:none;
	width:560px;
	height:140px;
	margin:0 auto;
	margin-bottom: 20px;
	text-align:center;
}

#shorten-msg{
	font-size: 14px;
	font-weight: bold;
	color: rgb(21,148,56);
}

#share-box{
	width:540px;
	height:100px;
	margin: 0 auto;
	border-radius:10px;
	box-shadow: 0px 2px 2px #888;
	background-color: rgba(215, 223, 255, 0.3);
}

#share-box p{
	text-align:center;
	text-decoration:underline;
	padding-top: 10px;
	color: #444;
}

#social-btns{
	width: 400px;
	height: 30px;
	margin:0 auto;
	padding-top:10px;

}

#twitter-btn{
	width:70px;
	height:22px;
	overflow:hidden;
	float:left;
	margin-left:20px;
	margin-right: 20px;
}

#facebook-btn{
	width:86px;
	height:22px;
	overflow:hidden;
	float:left;
	margin-right:20px;
}

#google-btn{
	width:70px;
	height:22px;
	overflow:hidden;
	float:left;
	margin-right:20px;
}

#linked-btn{
	width:70px;
	height:22px;
	overflow:hidden;
	float:left;
	margin-right:20px;
}

#btn-copy{
	box-shadow: 0px 2px 5px;
	width:74px; 
	border-radius: 0 10px 10px 0; 
	line-height:30px; 
	font-weight: bold
}

#btn-copy.hover{
	background-color: #e6e6e6;
	color: #333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
}

.copy-msg{
	visibility: hidden;
	font-size:9px;
	color: green;
	position: relative;
	width: 40px;
	left: 560px;
	top: -30px;
	-webkit-animation-duration: 3s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
}

#footer{
	position:relative;
	bottom:0;
	width:100%;
	height: 100px;
	border: solid 1px grey;
	margin: 0 auto;
	background-color:rgba(20,20,20,0.4);

}

#footer-top{
	height:80px;
	width:810px;
	margin:0 auto;
}

#about{
	float:left;
	width:200px;
}

#about a{
	width:20px;
	font-size: 14px;
	color: rgb(25, 60, 112);
	font-weight: bold;
}

#about-puny{
	margin-left: 150px;
	margin-top:20px;
	width:30px;
}

#pledgie-widget{
	margin:0 auto;
	width:400px;
	padding-top:20px;
	text-align:center;
}

#pledgie{
	width:122px;
	margin:0 auto;
}

#follow-us{
	float:right;
	width:200px;
	margin-top:-60px;
}

#copyright{
	width:100px;
	font-size:10px;
	color:rgb(199, 216, 235);
	margin-left:49%;
}

